LOCATE COMP "CLK" SITE "P3";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK" 25 MHZ;

# User LED
LOCATE COMP "pwm_out" SITE "U16";
IOBUF PORT "pwm_out" IO_TYPE=LVCMOS25;

# Test pin
LOCATE COMP "pwm_out1" SITE "E1";
IOBUF PORT "pwm_out1" IO_TYPE=LVCMOS33;

LOCATE COMP "RST_N" SITE "D6";  
IOBUF  PORT "RST_N" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;