LOCATE COMP "CLK" SITE "P3";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK" 25 MHZ;

# Test pin 1
LOCATE COMP "pwm_out[0]" SITE "E1";
IOBUF PORT "pwm_out[0]" IO_TYPE=LVCMOS33;

# Test pin 2
LOCATE COMP "pwm_out[1]" SITE "E2";
IOBUF PORT "pwm_out[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "RST_N" SITE "D6";  
IOBUF  PORT "RST_N" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;