LOCATE COMP "CLK" SITE "P3";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK" 25 MHZ;

LOCATE COMP "led_out" SITE "U16";

IOBUF PORT "led_out" IO_TYPE=LVCMOS25;

LOCATE COMP "RST_N" SITE "D6";  
IOBUF  PORT "RST_N" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;