LOCATE COMP "CLK" SITE "P3";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK" 25 MHZ;

# status LED
LOCATE COMP "led" SITE "U16";
IOBUF PORT "led" IO_TYPE=LVCMOS25;

# TX pin
LOCATE      COMP "tx"       SITE "J17";
IOBUF       PORT "tx"       IO_TYPE=LVCMOS33;

# default RST_N of top module
LOCATE COMP "RST_N" SITE "D6";  
IOBUF  PORT "RST_N" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;